[submodule "lib/tools/fzf"]
	path = lib/tools/fzf
	url = https://github.com/junegunn/fzf
	branch = master
[submodule "lib/tools/zsh-completions"]
	path = lib/tools/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
	branch = master
[submodule "lib/tools/zsh-autosuggestions"]
	path = lib/tools/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
[submodule "lib/tools/zsh-syntax-highlighting"]
	path = lib/tools/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = master
[submodule "lib/tools/powerlevel10k"]
	path = lib/tools/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
